body{
    display: grid;
    grid-template-rows:repeat(3,minmax(auto,auto));
    min-width: none;
    min-height: 500px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#header_login{ 
    display: grid;
    grid-template-columns:repeat(2,minmax(30vw,70vw));
    width: 100vw;
    height:7vh;
    background-color: rgba(10, 65, 37, 0.904);
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.logo{
    /* text-align: center; */
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}
.logo p{
    font-size: 30px;
    color: aliceblue;
    font-weight: lighter;
}
.logo strong{
    color: rgb(12, 216, 111);
}

.btns{
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: end;
    gap: 0.5cm;
    margin-right: 1cm;
}
.login_contains {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/images/html/login.jpg");
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
}
.login{
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    align-items: center;
    width:50%;
    padding:1cm 0 1cm 0; 
    /* margin-ri:2cm; */
    background-color: rgba(10, 65, 37, 0.74);
    color: aliceblue;
    animation-name: login_slide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    gap:1cm;
    border-radius:10px;
}



@keyframes login_slide{
    0%{
        opacity: 0;
        margin-right:-50%;
    }
    100%{
        opacity: 1;
        margin-right: 1cm;
    }
}
.login #greet{
    font-size: 30px;
    font-weight: normal;
    justify-self: left;
}
.login_form{
    
    display: flex;
    flex-direction: column;
    padding-top:0.5cm ;
    width: 25%;

    
}
.login_form input[type="email"],input[type="password"]{
    height: 0.5cm;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.678);
    color: rgb(0, 0, 0);
}
.login_form input[type="submit"]{
    width:3cm;
    justify-self: center;
    background-color:rgb(10, 71, 51);
    color: aliceblue;
    font-weight: lighter;
    height: 0.5cm;
    border-style: none;
    
}
.login_form input[type="submit"]:hover{
   transform: scale(1.1);
}
#error{
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
footer{
    height: auto;
    width: 100vw;
    text-align: center;
    color: aliceblue;
    background-color: rgb(88, 88, 88);
    font-weight: normal;
}
#home_Admin{
    height: 7vh;
    position: absolute;
    width: 100vw;
    grid-area: home_admin;
}
.contains_admin{
    background-color: rgb(236, 236, 236);
    grid-area: contains_admin;
    display: flex;
    flex-direction: column;
    gap: 0.5cm;
    padding: 0.5cm;
    align-items: center;
    overflow-y: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}   
#add{
    width: 4cm;
    border-style: none;
    background-color: rgb(173, 173, 173);
    border-radius: 5px;
    padding: 4px;
}
.theElement{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 7cm;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
#image{
    padding: 0.5cm;
    overflow: cover;
    width: 4cm;
    height: 4cm;
}
.infoThe {
    width: 1fr;
    display: flex;
    flex-direction: column;

}
.infoThe img{
    width: 0.75cm;
    overflow: cover;

}
.theElement button{
    width: 4cm;
    border-style: none;
    background-color: rgb(173, 173, 173);
    border-radius: 5px;
    padding: 4px;
    
}
.title{
    background-color: rgb(20, 67, 88);
   
}
.menu_admin li{
    list-style: none;
}
.menu_admin a{
    text-decoration: none;
    color: rgb(65, 65, 65);
}

.menu_admin li:hover{
    /* background-color: rgb(139, 139, 139); */
    transform: scale(1.1);
    font-weight: normal;
}
#footer_admin{
    background-color: rgb(37, 37, 37);
    grid-area: footer_admin;
}
.menu_admin{
    grid-area: menu_admin;
}
.info_Admin{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding:0 1cm 0 0;
    height: 100%;
    /* background-color: rgb(24, 82, 82); */
    font-weight: normal;
    color: rgb(77, 83, 83);
    gap: 1cm;
}
.info_Admin img{
    overflow: cover;
    border-radius: 50%;
    width: 2vw;

}
.SettingDiv{
    display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.74);
}
.SettingDiv form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1cm;
    background-color: rgb(255, 255, 255);
    border-radius:15px;
    gap: 1cm;
    width: 20%;
    border: 3px solid  rgb(20, 67, 88);
    
}
.SettingDiv img{
    width: 0.5cm;
    overflow: cover;
}
.SettingDiv input{
    width: 90%;
    height: 0.75cm;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(231, 231, 231);
}
.SettingDiv input[type="submit"]{
    color: aliceblue;
    width: 4cm;
    background-color: rgb(20, 67, 88);
}
.SettingDiv input[type="submit"]:hover{
    transform: scale(1.1);
}


.ModifyDiv{
    display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.74);
}
.ModifyDiv form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1cm;
    background-color: rgb(255, 255, 255);
    border-radius:15px;
    gap: 1cm;
    width: 20%;
    border: 3px solid  rgb(20, 67, 88);
    
}
.ModifyDiv img{
    width: 0.5cm;
    overflow: cover;
}
.ModifyDiv input{
    width: 90%;
    height: 0.75cm;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(231, 231, 231);
}
.ModifyDiv input[type="submit"]{
    color: aliceblue;
    width: 4cm;
    background-color: rgb(20, 67, 88);
}
.ModifyDiv input[type="submit"]:hover{
    transform: scale(1.1);
}

/* =============================================================================================================== */
@media (min-width: 1000px) {
    .menu_admin{
        display: flex;
        flex-direction: column;
        width: 15vw;
        align-items: center;
        background-color: rgb(255, 255, 255);
        grid-area: menu_admin;
        font-size: 20px;
        font-weight: lighter;
        justify-content: center;
    }
    .menu_admin ul{
        /* border: 1px black solid; */
        /* margin-top: 5cm; */
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 1cm;
    }   
    .menu_admin li{
        /* border: 1px black solid; */
        width: 100%;
        /* margin-top: 1cm; */
    }   
    #menu_icon{
        display: none;
    }
    #nav_icon{
        display: none;
    }
    #home_Admin{
        display: grid;
        grid-template-columns:repeat(2,50%);        
    }
    .body_admin{
        display: grid;
        grid-template-columns:auto 1fr;
        grid-template-rows:7vh 95vh 5vh;
        grid-template-areas: 
        "home_admin home_admin"
        "menu_admin contains_admin"
        "footer_admin footer_admin";
    }
    #home_Admin{
        display: grid;
        grid-template-columns: 0vw 15vw 1fr 2vw;
        height: 7vh;
        align-items: center ;
        box-shadow: 1px 1px 1px 1px rgb(20, 67, 88);
    }
    

}
/* =============================================================================================================== */
@media (min-width: 600px) and (max-width: 1000px){
    #menu_icon{
        display: none;
    }
    #nav_icon{
        display: none;
    }
    #home_Admin{
        background-color: rgb(161, 153, 142);
        display: grid;
        grid-template-columns:repeat();
    }
    .body_admin{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows:5vh 7vh 95vh 5vh;
        grid-template-areas: 
        "home_admin"
        "menu_admin"
        "contains_admin" 
        "footer_admin";
    }
}
@media (max-width: 600px){
    #home_Admin{
        background-color: rgb(20, 67, 88);
        display: grid;
        grid-template-columns:repeat();
    }
    .body_admin{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows:5vh 95vh 5vh;
        grid-template-areas: 
        "home_admin"
        "contains_admin" 
        "footer_admin";
    }
    
}



/*utilisateurr*/
.first{

    display: grid;
    grid-template-rows: 7vh 93vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
width: 100vw;
}
.body_user{
    display: grid;
    grid-template-rows: repeat(4,minmax(500px,auto));
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
background-color: rgb(240, 240, 240);
}
.contains_user{
    background-image: url("../assets/images/background/2150708122.jpg");

    background-size: cover;

    display: flex;
    justify-content: end;
    align-items: center;
    color: aliceblue;
    font-size: 40px;   
    width: 100vw; 
}
.contains_user div{
    display: flex;
    flex-direction: column;
    /* margin-right:3cm; */
    animation-name: show;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}
@keyframes show {
0%{
    margin-right: -35%;
    position: fixed;
}
50%{
    position: absolute;
}  
    100%{
        opacity: 1;
        margin-right:3cm;
    }
}
.header_user{
    display: grid;
    grid-template-columns:30vw 36vw 31vw 2vw;
    /* justify-content: center; */
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 7vh ;
}
.header_user a{
    color: rgb(46, 46, 46);
}
.header_user a:hover{
    border-bottom: 1px solid rgb(44, 44, 44);
    animation-name: scale;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}
@keyframes scale{
    100%{
        transform: scale(1.2);
    }
}

a{
    text-decoration: none;
}
.logo_user{
    color: rgb(9, 107, 83);
    display: flex;
    justify-content: center;
    height: 100%;
}
.header_user nav ul{
    display: flex;
    flex-direction: row;
    gap: 1cm;
    justify-content: center;
    /* justify-content: space-around; */
}
.header_user nav ul li{
    list-style: none;
    font-size: 20px;
    font-weight: normal;
    
}
.header_user nav ul li:hover{
    animation-name: scale;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.userInfo
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1cm;
    height: 100%;
}
.userInfo li{
    list-style: none;
}
.user_profil{
    width: 1cm;
    height: 1cm;
    overflow: cover;
    border-radius: 50%;
}
#theList #title{
    color: rgb(39, 39, 39);
    font-size: 30px;
    font-weight: normal;
    width: 100%;
    padding: 0.5cm;
    background-color: white;
}
#theList{
    width: 70vw;
    /* background-color: rgb(255, 255, 255); */
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5cm;
    margin:0.5cm;
}
#theList .list{
    width: 100%;
    background-color: white;
    max-height:10cm ;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5cm;
    gap: 0.5cm;
}
#Element{
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 216, 216);
    width: 18%;
}
#element img{
    width:90%;
    align-self: center;
    overflow: cover;
}
#Ceuillete{
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 70%;
    
    justify-self: center;
    /* padding: 3cm; */
    display: flex;
    flex-direction: row;
    gap: 1cm;
    margin: 1cm;
    background-color: rgba(6, 109, 75, 0.452);

}
#Ceuillete img{
    width:50%;
    overflow: cover;
    box-shadow: -1cm -1cm 0 rgb(12, 75, 59);
}

#Ceuillete div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2cm;
    border-top: 3px solid rgb(51, 51, 51);

    }
    #Ceuillete form{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* gap: 0.5cm; */
    font-size: large;
}
#Ceuillete p{
    color: rgb(54, 54, 54);
    font-size: 20px;
    font-weight: 600;
}
#Ceuillete select {
    width: 100%;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
    height: 1cm;
    font-size: large;
}
#Ceuillete input[type="date"] , input[type="double"] {
    width: 100%;
    
    border-style: none;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
    height: 1cm;
    font-size: large;
}
#Ceuillete input[type="submit"]{
    width: 60%;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(6, 63, 51);
    height: 0.75cm;
    color: aliceblue;
    margin-top: 0.5cm;
    align-self: center;
}
#Ceuillete input[type="submit"]:hover{
    animation-name: hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes hover{
    0%{

    }
    100%{
    background-color: rgb(211, 211, 211);
    color: rgb(6, 63, 51) ;
    transform: scale(1.1);
    }
}








#Depenses{
    /* background-color: aqua; */
    height: auto;
    width: 70%;
    /* background-color: white; */
    justify-self: center;
    /* padding: 3cm; */
    display:flex;
    flex-direction: row;
    gap: 1cm;
    background-color: rgba(6, 109, 75, 0.452);
    margin: 2cm;
    
}
#Depenses img{
    width:50%;
    overflow: cover;
    box-shadow: 1cm 1cm 0 rgb(15, 233, 204);

}
#Depenses div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2cm;

}
#Depenses form{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* gap: 0.5cm; */
    /* background-color: aliceblue; */
    font-size: large;
}
#Depenses p{
    color: rgb(54, 54, 54);
    font-size: 20px;
    font-weight: 600;
}
#Depenses select {
    width: 100%;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
    height: 1cm;
    font-size: large;
}
#Depenses input[type="date"] , input[type="double"] {
    width: 100%;
    
    border-style: none;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
    height: 1cm;
    font-size: large;
}
#Depenses input[type="submit"]{
    width: 60%;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(6, 63, 51);
    height: 0.75cm;
    color: aliceblue;
    margin-top: 0.5cm;
    align-self: center;
}
#Depenses input[type="submit"]:hover{
    animation-name: hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#theList{
    width: 70%;
    height: auto;

}

.user_footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 -6px 0 rgba(241, 225, 7, 0.87);
}
.link{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.link li{
    list-style: none;
    font-size: 15px;
}
.link a{
    color: aliceblue;
}
#deconnexion{
    position: absolute;
    display: none;
    flex-direction: column;
    top: 7vh;
    right: 0;
    align-items: start;
    width:5cm;
    background-color: rgba(8, 112, 95, 0.671);
    justify-content: start;
    color: white;
}
#deconnexion ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5cm;
    color: rgb(255, 255, 255);
}
#deconnexion li{
    list-style: none;
}
#deconnexion li:hover{
    transform: scale(1.1);
}
#deconnexion a{
    color: rgb(255, 255, 255);
}

@media  (max-width: 1000px){
    .contains_user{
        justify-content: center;
        align-items: center;
    }
    .contains_user div{
        margin: 0 0 0 0;
        animation: none;
        padding: 1cm;
        background-color: rgba(117, 122, 122, 0.644)
    }
    .header_user nav{
        display: none;
    }
    .header_user{
        display: grid;
        grid-template-columns:95vw 5vw;
        /* justify-content: center; */
        align-items: center;
        background-color: rgb(255, 255, 255);
    }
    .userInfo{
        display: none;
    }
    .menuBar{
        align-items: end;
    }
    #Ceuillete{
        flex-direction: column;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
    #Depenses{
        flex-direction: column-reverse;
        width: 100%;
        /* background-color: rgb(255, 255, 255); */
        background-color: rgba(8, 112, 95, 0.671);

    }
    #Ceuillete img{
        width: 100%;
    }
    #Ceuillete div{
        width: 100%;

    }

    #Depenses img{
        width: 100%;
    }
    #Depenses div{
        width: 100%;
        background-color: rgba(8, 112, 95, 0.671);

    }
   .link{
        grid-template-rows: 10vh 20vh;
    }

}
@media (max-width: 600px){
    #home_Admin{
        background-color: rgb(20, 67, 88);
        display: grid;
        grid-template-columns:repeat();
    }
    .body_admin{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows:5vh 95vh 5vh;
        grid-template-areas: 
        "home_admin"
        "contains_admin" 
        "footer_admin";
    }
    
}

#select_date{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.74);
}
#select_date form{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1cm;
    background-color: rgb(255, 255, 255);
    border-radius:15px;
    gap: 1cm;
    width: 20%;
    border: 3px solid  rgb(20, 67, 88);
    
}

#select_date input{
    width: 90%;
    height: 0.75cm;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(231, 231, 231);
}
#select_date input[type="button"]{
    color: aliceblue;
    width: 4cm;
    background-color: rgb(20, 67, 88);
}
#select_date input[type="submit"]:hover{
    transform: scale(1.1);
    animation-name: hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.contains_result{
    margin-top: 0.5cm;
    width: 70vw;
    display: flex;
    background-color: rgb(255, 255, 255);
    /* align-self: center; */
    justify-self: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5cm;
}
.contains_result img {
    width: 100%;
    overflow: cover;
    
}
#resultat_user{
    width: 60%;
    border-bottom: 2px solid #023519;
    text-align: center;
    font-size: 20px;
}
#date{
    font-weight: bold;
}
.table_result{

    width: 60%;
    overflow-y: auto;
    border: 2px solid #000000;
    text-align: center;
}
.table_result th{
    background-color: #d3d3d3;
}
#error_date{
    color: rgb(218, 69, 31);
    font-weight: lighter;
}



#regeneration_check{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.74);
}
#regeneration_check p{
    font-weight: bold;
}
#regeneration_check form{
    font-size: smaller;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1cm;
    background-color: rgb(255, 255, 255);
    border-radius:15px;
    
    width: 20%;
    border: 3px solid  rgb(20, 67, 88);
    height: 50vh;
    overflow-y: auto;
}

#regeneration_check input{
    /* width: 90%;s */
    /* height: 0.75cm; */
    border-radius: 5px;
    border-style: none;
    background-color: rgb(100, 100, 100);
}
#regeneration_check input[type="submit"]{
    margin-top: 0.5cm;
    width: 90%;
    height: 0.75cm;
    color: aliceblue;
    width: 4cm;
    background-color: rgb(20, 67, 88);
}
#regeneration_check input[type="submit"]:hover{
    transform: scale(1.1);
    animation-name: hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes slide{
    50%{
    transform: scale(0.9);
    top: 0;
    left: 0;   
    }
    99%{
        display: flex;
        left: 100vw;
        transform: scale(0.9);
        
    }
    100%{
        display: none;

    }
}
@keyframes slideShow{
    0%{
    transform: scale(0.9);
     display: none;
     left: -100vw;
    }
    1%{
        display: flex;  
    }
    50%{
        display: flex;
        transform: scale(0.9);
        left:0;
    }
    100%{
        display: flex;
        transform: scale(1);
        top: 0;
        left: 0;  
    }
}


#configuration{
    display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.74);
}
#configuration form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1cm;
    background-color: rgb(255, 255, 255);
    border-radius:15px;
    gap: 1cm;
    width: 20%;
    border: 3px solid  rgb(20, 67, 88);
    
}
#configuration img{
    width: 0.5cm;
    overflow: cover;
}
#configuration input{
    width: 90%;
    height: 0.75cm;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(231, 231, 231);
}
#configuration input[type="submit"]{
    color: aliceblue;
    width: 4cm;
    background-color: rgb(20, 67, 88);
}
#configuration input[type="submit"]:hover{
    transform: scale(1.1);
}
